.container{
    margin-top: 120px;
    height: 0px;
    width: 670px;
}

.jumbotron{
    padding: 2rem 2rem;
    background-color: transparent;
    border: 1px solid dimgrey;
}

body{
    background-color: #FFB85F;
}

h1, h3{
    color: darkred;
}

.class1{
    display: none;
}

h3{
    text-align: center;
}